# Video 02, 03
langchain_openai 
langchain_core
python-dotenv
streamlit
langchain_community
langserve
fastapi
uvicorn
sse_starlette

# Video 04
ipykernel
bs4
pypdf
chromadb
faiss-cpu

# Video 06
arxiv
wikipedia
langchainhub

# Video 07
groq
cassio
beautifulsoup4
langchain-groq